src/bw/order-mgmt/Schemas/Schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1764322168714" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1764322168714">
    
  <xsd:element name="Order">
        
    <xsd:complexType>
            
      <xsd:sequence>
                
        <xsd:element maxOccurs="1" minOccurs="1" name="customer" type="xsd:string"/>
                
        <xsd:element maxOccurs="1" minOccurs="0" name="orderId" type="xsd:integer"/>
                
        <xsd:element maxOccurs="1" minOccurs="0" name="shipped" type="xsd:boolean"/>
              
      </xsd:sequence>
          
    </xsd:complexType>
      
  </xsd:element>
  
</xsd:schema>
